.navbar-static-top{
    
    color:#fff;
}

.voltar, i{
    color: #823f3f;
}
.container{
    margin-top: 5%;
}

.container p a{
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(0,0,0,.2);
}
